{% extends 'base.html.twig' %}

{% block title %}Edit MainCategory{% endblock %}

{% block body %}
    <h1>Edit MainCategory</h1>

    {{ include('main_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('main_category_index') }}">back to list</a>

    {{ include('main_category/_delete_form.html.twig') }}
{% endblock %}
