@import "app.css";
$btn-border-radius: 0.1rem;
$red:     #da251c !default;

@import "~bootstrap/scss/bootstrap";
.bg-danger {
    background-color: #da251c !important;
}

body {
    background-color: #FFFFFF;
}
